body {
  margin:0
}

input[type="text"] {
  height: 30px;
  font-size: 15px;
  display: inline-block;
  font-family: "Lato";
  font-weight: 100;
  border: none;
  outline: none;
  color: #555;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  z-index: 3;
  transition: width .1s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

input[type="text"]:focus:hover {
  border-bottom: 1px solid #BBB;
  width: 45%;
}

input[type="text"]:focus {
  width: 700px;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
}
input[type="submit"] {
  height: 30px;
  width: 30px;
  display: inline-block;
  color:red;
  float: right;
  background-image:url('./../assets/images/search.png') center center;
  text-indent: -10000px;
  border: none;
  position: absolute;
  right:10px;
  top:12px;
  z-index: 2;
  cursor: pointer;
  opacity: 1;
  cursor: pointer;
  transition: opacity .4s ease;
  background-color: grey;
  border-radius: 50%;
}

input[type="submit"]:hover {
  opacity: 0.6;
}
